# Python 3.11
# To install:
# pip install -r requirements.txt
# 
# Install Cuda first if GPU is required
# For Windows please install AFTER all other dependencies
# pip install --index-url https://download.pytorch.org/whl/cu124 torch torchvision torchaudio

accelerate==0.34.2
bitsandbytes==0.43.2
datasets
einops==0.6.1
gradio>=5.31.0
peft
protobuf==3.20
scipy==1.11.1
sentencepiece==0.2.1
transformers
trl
sentence-transformers==3.0.1
openai==1.37.1
httpx
python-dotenv==1.0.1
torch[cuda]
websockets
websocket
websocket-client
flask
flask_sock
waitress
soundfile
requests
#git+https://github.com/huggingface/parler-tts.git
#parler_tts
torch_geometric
huggingface-hub
soundfile
fastapi